@import "variables";

//LOGO

#logo {
  background-color: $color-two;
  color: $color-one;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  letter-spacing: $letter-spacing;
  margin-top: 160px;
}

//MENU

.menu {
    margin-top: 100px;
  li {
    list-style: none;
  }
  a {
    padding: 7px;
    background-color: $color-two;
    text-decoration: none;
    color: $color-one;
    letter-spacing: $letter-spacing;
    transition: all 0.3s ease-out;
    display: inline-block;
  }
  a:hover {
    transform: translate(18px, 0px);
    color: $color-one;
  }
}

// ILLUSTRATION

#illustration {
    margin-top: 20px;
    img {
        height: 500px;
        width: auto;
    }
}
// FORMULAIRE 

.formulaire {
    margin-top: 110px;
}
