@charset "utf-8";
@import "main";
@import "variables";
@import "mobile";
@import "../bulma/bulma-0.7.4/bulma.sass";

body,
html {
  width: 100%;
  height: 100%;
  background-color: $color-one;
  a {
      text-decoration: underline;
      color: $color-two;
  }
}

.shadow {
  box-shadow: inset 0 -6px 0 rgba(191, 48, 108, 0.2);
}

.button {
  background-color: $color-two;
  color: $color-one;
  border: none;
  margin-top: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  letter-spacing: $letter-spacing;
  border-radius: 0%;
}

.button:hover {
  background-color: $color-one;
  color: $color-two;
  border: 1px $color-two solid;
}

.footer {
    border-top: 1px solid rgba(191, 48, 108, 0.2);
    background-color: $color-one;
}