@import "variables";

//LOGO

#logo {
  width: 160px;
  height: 160px;
  margin-top: 160px;
  a {
    text-decoration: none;
    transition: all 0.3s ease-out;
    display: inline-block;
  }
  a:hover {
    transform: translate(18px, 0px);
  }
}

//MENU

.menu {
  margin-top: 100px;
  li {
    list-style: none;
  }
  a {
    padding: 7px;
    background-color: $purple-light;
    text-decoration: none;
    color: $gray-pink;
    letter-spacing: $letter-spacing;
    transition: all 0.3s ease-out;
    display: inline-block;
  }
  a:hover {
    transform: translate(18px, 0px);
    color: $gray-pink;
  }
}

// ILLUSTRATION

#illustration {
  margin-top: 20px;
  img {
    height: 500px;
    width: auto;
  }
}

//BRAND-NAME

#brand-name {
  color: $purple-light;
}

// MARGES CONTENU

%margins-content {
  margin-top: 110px;
  margin-bottom: 100px;
}

// FORMULAIRE

.formulaire {
  @extend %margins-content;
}

//TEXT COOPERATIVE

.coop {
  @extend %margins-content;

  img {
    margin-top: 30px;
  }
}
